let mapleader = " "

set number
set relativenumber
set clipboard+=unnamedplus

nnoremap <Leader>= :action ReformatCode<CR>
nnoremap <Leader>r :action Run<CR>
nnoremap <Leader>q :action ShowIntentionActions<CR>
